/* universal style */
*{
    margin: 0;
    padding: 0;
}


/* Shared Style */
.primary-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.dark-4{
    color: #A3A3A3;
}
.dark-5{
    color: #D1D1D1;
}
.dark-6{
    color: #E8E8E8;
}
.dark-7{
    color: #F3F3F3;
}
.text-white{
    color: #FFFFFF;
}

.btn-primary{
   background-color: #FD6E0A; 
   border-radius: 5px;
   border: none;
   font-size: 20px;
   padding: 18px 35px;
   color: #FFFFFF;
}


/* Header style */
header{
    max-width: 1140px;
    margin: 0 auto;
}

/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}
.header-logo{
    font-size: 45px;
    font-weight: 800;
}
.highlight-text{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
}
nav ul li a{ 
    text-decoration: none;
}