/* universal style */
*{
    margin: 0;
    padding: 0;
}


/* Shared Style */
.primary-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.dark-4{
    color: #A3A3A3;
}
.dark-5{
    color: #D1D1D1;
}
.dark-6{
    color: #E8E8E8;
}
.dark-7{
    color: #F3F3F3;
}
.text-white{
    color: #FFFFFF;
}

.btn-primary{
   background-color: #FD6E0A; 
   border-radius: 5px;
   border: none;
   font-size: 20px;
   font-weight: 600;
   padding: 18px 35px;
   color: #FFFFFF;
}
.btn-secondary{
   background-color: transparent; 
   border-radius: 5px;
   border: 1px solid #FD6E0A;
   font-size: 20px;
   font-weight: 600;
   padding: 18px 35px;
   color: #FD6E0A;
}
.text-primary{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}
.sec-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 30px;
}
.sec-area{
    padding: 130px 150px;
    margin-top: 125px;
    border-radius: 10px;
}
.sec-area2{
    margin: 125px 110px 0px 110px;
    text-align: center;
}
.item-heading{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}
.sec-bg{
    background-color: #FFF8F3;
}

/* Header style */
header{
    /* max-width: 1140px; */
    margin: 0 auto;
    background-color: #FFF8F3;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left center, right bottom;
}

/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 230px 0px 230px;
}
.header-logo{
    font-size: 45px;
    font-weight: 800;
}
.highlight-text{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
}
nav ul li a{ 
    text-decoration: none;
}

/* Banner style */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.banner-items{
    width: 585px;
    margin-left: 230px;
}
.banner-gretting{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-btns{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

/* Main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About Style */
.about-area{
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid black;
    padding: 0px 5px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-item-title{
    font-size: 20px;
    color: #757575;
}

/* What do I do section */

.cards{     /* card style */
    display: flex;
    text-align: left;
    gap: 24px;
}
.card-logo{
    width: 44px;
    height: 44px;
}
.react-logo{
    width: 49px;
    height: 35px;
}
.card{
    padding: 33px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.card-text{
    font-size: 16px;
    color: #757575;
}